<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Equip" version="0.4.130" targetFramework="net45" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Beans" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Corba" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Jdbc" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Management" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Media" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Misc" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Naming" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Remoting" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.Bind" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.OpenJDK.XML.Parse" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net45" />
  <package id="IKVM.Runtime.JNI" version="7.2.4630.5" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net45" />
  <package id="NuGet.Core" version="2.12.0" targetFramework="net45" />
  <package id="poi" version="3.10.0.0" targetFramework="net45" />
  <package id="poi-ikvm" version="3.17.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="2.45" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.23.0" targetFramework="net45" />
  <package id="Selenium.RC" version="3.1.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.45.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.Equip" version="0.4.130" targetFramework="net45" />
  <package id="Selenium.WebDriver.Mono" version="2.45.0" targetFramework="net45" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.141.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>